<html>
<head>
  <link href="assets/style.css" rel="stylesheet" type="text/css" />
</head>
<style>


</style>

<body>
    <p>IMAGE RECIEVED</p>
   
    
    <a href="#"><div class="card">
        <img src="/assets/images/<%=data.img%>" alt="image of jauger"/>
        <div class="container">
        <p><%=data.title%> </p>
        <p><%=data.price%></p> 
        </div>
    </div></a>
    <p><%=data.description%></p>

</body>
</html>