<html>
<head>
  <link href="assets/style.css" rel="stylesheet" type="text/css" />
</head>
<style>

img {
  border-radius: 5px 5px 0 0;
 
}
</style>

<body>
    <p>IMAGE RECIEVED</p>
   
    
    <a href="#"><div class="card">
        <img src="/assets/images/<%=s.imgpath%>" alt="image of jauger"/>
        <div class="container">
        <p><%=s.title%> </p>
        <p><%=s.price%></p> 
        </div>
    </div></a>
    <p><%=s.description%></p>

</body>
</html>