<html>

<style>
    .card {
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
 height:226px;
  width: 175px;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  padding:2px;
  margin: 3px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: scale(1.1);
}
img {
  border-radius: 5px 5px 0 0;
 
}
</style>

<body>
    <p>IMAGE RECIEVED</p>
   
    
    <a href="#"><div class="card">
        <img src="/assets/images/<%=s.imgpath%>" alt="image of jauger"/>
        <div class="container">
        <p><%=s.title%> </p>
        <p><%=s.price%></p> 
        </div>
    </div></a>
    <p><%=s.description%></p>

</body>
</html>