<html>

<head>

    <link href="assets/style.css" rel="stylesheet" type="text/css" />

</head>

<body class="bo1">
    <h1 class="kj">Register Your Details </h1>

    <form class="form" id="f"  method="POST" action="/form">
<b>Email</b>    :&emsp;&emsp;&emsp;  <input name="email" value="" type="email" placeholder="xyz@gmail.com" required></br></br>

<b>Password</b>:&emsp;&emsp;<input type="password" id="as" placeholder="password" name="pass" value="" required></br></br>
&emsp;&emsp;&emsp;&emsp;&ensp;&emsp;&emsp;<button class="b1" value="submit" name="login" type="submit">Login</button></br></br>
Are you a new user?&emsp;&emsp;&emsp;&emsp;&ensp;&emsp;&emsp;<button class="b1" value="submit" name="signup" type="submit">Signup</button></br></br>
  
</form>


</body>

</html>