<html>

<head>

    <link href="assets/style.css" rel="stylesheet" type="text/css" />

</head>

<body style="background-color: aqua;">
    <h1 class="Login-Details">Register Your Details </h1></br></br></br></br></br>

    <form class="form" id="f" method="POST" action="/logger">
        <b>Email</b> :&emsp;&emsp;&emsp; <input name="email" value="" type="text" placeholder="xyz@gmail.com"
            required></br></br>

        <b>Password</b>:&emsp;&emsp;<input type="password" id="as" placeholder="password" name="password" value=""
            required></br></br>
        &emsp;&emsp;&emsp;&emsp;&ensp;&emsp;&emsp;<button class="signup-button" value="login" name="submittype"
            type="submit">Login</button></br></br>
        Are you a new user?&emsp;&emsp;&emsp;&emsp;&ensp;&emsp;&emsp;<button class="signup-button" value="signup" name="submittype"
            type="submit">Signup</button></br></br>

    </form>


</body>

</html>