<html>
<head>
    <meta charset="utf=8"></meta>
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="assets/style.css" rel="stylesheet" type="text/css" />
</head>


<style>

.star{
    position: relative;
    left:0px;
    font-size: 25px;
    color:gold;
    
}
.heart{
    font-size: 35px;
    color: red;
}
.cart{
    position: relative;
    float: left;
    font-size: 35px;
    color: red;
}

.card1{
    height:450px;
    width:300px;
    border: 1px solid blue;
    padding:2px;
    margin:15px;
}
.container1{
    margin:10px;
    position: relative;
    top:10px;
    left:20px;
}

img{

height:300px;
width:290px;
display: block;
margin: 0 0 0 5px;
}
.ivf{
    position: relative;
    bottom: 65px;
    float:right;
    right:35px;
}
.card1:hover {
  box-shadow: 0 8px 16px 0 rgba(7, 230, 144, 0.2);
  transform: scale(1.1);
}
.bigb{
    display: flex;
    padding: 25px;
   flex-wrap: wrap;
   overflow-x: hidden;
}
.examp{
background-color: aqua;
height:100px;
display: flex;
overflow-x: hidden;
flex-wrap: wrap;

}
.asd{
    display: flex;
    align-items: center;
    
}
.frt{
   bottom: 55px;

    left: 1400px;
}
</style>
<body style="background-color: aliceblue;">
    <div class="examp"><span style="font-size:30px;cursor:pointer" onclick="openNav()" >
        &#9776;
       </span> </div>
       

        <div class="asd"> 
            <b style="left:1500px;" id= "time1" class="SearchItems">Time</b>
            <ion-icon class="cart frt" onclick="fe2()" name="cart-outline"></ion-icon>
            <form   method ="POST" action="/search">
          <input type="text" class="SearchItems" placeholder="Search.." name="search">
            <button  class="Home-search-button" type="submit"><i class="fa fa-search  fa-2x"></i></button>
            
        </form> 
            
            
        </div>
         
           

       
      
       <div id="MySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a  href="profile">Profile </a>  
          <a  href="main">Home</a>  
          <a  href="ShopByCategory"> ShopByCategory </a>   
          <a href="orders"> Your Orders</a>  
          <a href="cart"> Cart</a>
          <a href="Wishlist">Wish List</a> 
          <a href="Settings">Settings</a>
          <a href="contact">Contact</a>
          <a href="logout">Logout</a>       
       </div>
    
<div class="bigb">


    <div class="card1">
        <img src="/assets/images/one.jpg" alt="image of jauger"/>
        <div class="container1">
            <a><ion-icon class="star" onclick="fe(1)" name="star-outline"></ion-icon></a>
           <ion-icon   class="star" onclick="fe(2)" name="star-outline"></ion-icon>
          <ion-icon   class="star" onclick="fe(3)" name="star-outline"></ion-icon> 
          <ion-icon   class="star" onclick="fe(4)" name="star-outline"></ion-icon> 
           <ion-icon   class="star" onclick="fe(5)" name="star-outline"></ion-icon>
           
           <h2 style="color:red">Mens Jeans</h2>
            <p style="color:red;font-size: 25px;">price:100</p>
        </div>
           <div class="ivf"> <ion-icon class="heart" onclick="fe1()" name="heart-outline"></ion-icon>&nbsp;&emsp;
            <ion-icon class="cart" onclick="fe2()" name="cart-outline"></ion-icon></div>
          
           
       
      
    
    </div>
    <div class="card1">
        <img src="/assets/images/one.jpg" alt="image of jauger"/>
        <div class="container1">
            <a><ion-icon class="star" onclick="fe(1)" name="star-outline"></ion-icon></a>
           <ion-icon   class="star" onclick="fe(2)" name="star-outline"></ion-icon>
          <ion-icon   class="star" onclick="fe(3)" name="star-outline"></ion-icon> 
          <ion-icon   class="star" onclick="fe(4)" name="star-outline"></ion-icon> 
           <ion-icon   class="star" onclick="fe(5)" name="star-outline"></ion-icon>
           
           <h2 style="color:red">Mens Jeans</h2>
            <p style="color:red;font-size: 25px;">price:100</p>
        </div>
           <div class="ivf"> <ion-icon class="heart" onclick="fe1()" name="heart-outline"></ion-icon>&nbsp;&emsp;
            <ion-icon class="cart" onclick="fe2()" name="cart-outline"></ion-icon></div>
          
           
       
      
    
    </div>
    <div class="card1">
        <img src="/assets/images/one.jpg" alt="image of jauger"/>
        <div class="container1">
            <a><ion-icon class="star" onclick="fe(1)" name="star-outline"></ion-icon></a>
           <ion-icon   class="star" onclick="fe(2)" name="star-outline"></ion-icon>
          <ion-icon   class="star" onclick="fe(3)" name="star-outline"></ion-icon> 
          <ion-icon   class="star" onclick="fe(4)" name="star-outline"></ion-icon> 
           <ion-icon   class="star" onclick="fe(5)" name="star-outline"></ion-icon>
           
           <h2 style="color:red">Mens Jeans</h2>
            <p style="color:red;font-size: 25px;">price:100</p>
        </div>
           <div class="ivf"> <ion-icon class="heart" onclick="fe1()" name="heart-outline"></ion-icon>&nbsp;&emsp;
            <ion-icon class="cart" onclick="fe2()" name="cart-outline"></ion-icon></div>
          
           
       
      
    
    </div>
    <div class="card1">
        <img src="/assets/images/one.jpg" alt="image of jauger"/>
        <div class="container1">
            <a><ion-icon class="star" onclick="fe(1)" name="star-outline"></ion-icon></a>
           <ion-icon   class="star" onclick="fe(2)" name="star-outline"></ion-icon>
          <ion-icon   class="star" onclick="fe(3)" name="star-outline"></ion-icon> 
          <ion-icon   class="star" onclick="fe(4)" name="star-outline"></ion-icon> 
           <ion-icon   class="star" onclick="fe(5)" name="star-outline"></ion-icon>
           
           <h2 style="color:red">Mens Jeans</h2>
            <p style="color:red;font-size: 25px;">price:100</p>
        </div>
           <div class="ivf"> <ion-icon class="heart" onclick="fe1()" name="heart-outline"></ion-icon>&nbsp;&emsp;
            <ion-icon class="cart" onclick="fe2()" name="cart-outline"></ion-icon></div>
          
           
       
      
    
    </div>
    <div class="card1">
        <img src="/assets/images/one.jpg" alt="image of jauger"/>
        <div class="container1">
            <a><ion-icon class="star" onclick="fe(1)" name="star-outline"></ion-icon></a>
           <ion-icon   class="star" onclick="fe(2)" name="star-outline"></ion-icon>
          <ion-icon   class="star" onclick="fe(3)" name="star-outline"></ion-icon> 
          <ion-icon   class="star" onclick="fe(4)" name="star-outline"></ion-icon> 
           <ion-icon   class="star" onclick="fe(5)" name="star-outline"></ion-icon>
           
           <h2 style="color:red">Mens Jeans</h2>
            <p style="color:red;font-size: 25px;">price:100</p>
        </div>
           <div class="ivf"> <ion-icon class="heart" onclick="fe1()" name="heart-outline"></ion-icon>&nbsp;&emsp;
            <ion-icon class="cart" onclick="fe2()" name="cart-outline"></ion-icon></div>
          
           
       
      
    
    </div>
    <div class="card1">
        <img src="/assets/images/one.jpg" alt="image of jauger"/>
        <div class="container1">
            <a><ion-icon class="star" onclick="fe(1)" name="star-outline"></ion-icon></a>
           <ion-icon   class="star" onclick="fe(2)" name="star-outline"></ion-icon>
          <ion-icon   class="star" onclick="fe(3)" name="star-outline"></ion-icon> 
          <ion-icon   class="star" onclick="fe(4)" name="star-outline"></ion-icon> 
           <ion-icon   class="star" onclick="fe(5)" name="star-outline"></ion-icon>
           
           <h2 style="color:red">Mens Jeans</h2>
            <p style="color:red;font-size: 25px;">price:100</p>
        </div>
           <div class="ivf"> <ion-icon class="heart" onclick="fe1()" name="heart-outline"></ion-icon>&nbsp;&emsp;
            <ion-icon class="cart" onclick="fe2()" name="cart-outline"></ion-icon></div>
          
           
       
      
    
    </div>
                           
</div>

<!----
    <div class="box"><br></br></br></br></br></br>

       <a><ion-icon class="star" onclick="fe(1)" name="star-outline"></ion-icon></a>
 <ion-icon   class="star" onclick="fe(2)" name="star-outline"></ion-icon>
<ion-icon   class="star" onclick="fe(3)" name="star-outline"></ion-icon> 
<ion-icon   class="star" onclick="fe(4)" name="star-outline"></ion-icon> 
 <ion-icon   class="star" onclick="fe(5)" name="star-outline"></ion-icon>
 <ion-icon class="heart" onclick="fe1()" name="heart-outline"></ion-icon>
 <ion-icon class="heart" onclick="fe2()" name="cart-outline"></ion-icon>

    </div>-->
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script>  function fe(d){
      
     var val_star=d;
     var temp=   document.getElementsByClassName("star");
      for(let i=1;i<6;i++)
      {
     
          if(i==d)
          {
              if(temp[i-1].name=="star")
              {
               
                 temp[i-1].name="star-outline";
                 
              }
              else
              {
                temp[i-1].name="star";
                val_star=d;
               
              }
          }
          else
          {
             
            temp[i-1].name="star-outline";
            
          }
          
      }
      for(let j=1;j<=val_star;j++){
          temp[j-1].name="star";
      }
      alert(val_star);
     
            }
            
            
            var flag=0;
            flag1=0;
            function fe1(){
                
                var temp1= document.getElementsByClassName("heart");
                
            
               if(temp1[0].name=="heart")
               {
                   flag=1;
                        temp1[0].name="heart-outline";
               }
               else{
                   flag=0;
                temp1[0].name="heart";
               }
               
            }
            function fe2(){
                var temp2= document.getElementsByClassName("cart");
                if(temp2[0].name=="cart")
               {
                   flag1=1;
                        temp2[0].name="cart-outline";
               }
               else{
                   flag1=0;
                temp2[0].name="cart";
               }
            }
            function openNav()
       {
          document.getElementById("MySidenav").style.width = "250px";
        }

      function closeNav() 
      {
         document.getElementById("MySidenav").style.width = "0";
      }    
      var GetDate=new Date();
            var time1=document.getElementById('time1');
            time1.innerHTML=GetDate;
            </script>
  
    
</body>
</html>