
<html>
    <head>
        <link href="assets/style.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <form method="POST" action="orders">

            <h>total pice is:<%=data.b%></h></br>
            Delivery Address:
            </br><textarea></textarea></br><br>
            &emsp;&emsp;<button>confirm</button>

        </form>


    </body>

</html>
