
<html>
    <head>
        <link href="assets/style.css" rel="stylesheet" type="text/css" />
    </head>

    <body style="background-color: aqua;">
        <form method="POST" action="orders">

            <h1 name="price" value="<%=data.b%>">Total Price Is:<%=data.b%></h1></br>
            Delivery Address:
            </br><textarea name="DeliveryAddress" value="" rows="10"></textarea></br><br>
            &emsp;&emsp;<button>confirm</button>

        </form>


    </body>

</html>
