
<html>
    <head>
        <link href="assets/style.css" rel="stylesheet" type="text/css" />
    </head>

    <body style="background-color: aqua;">
        <form method="POST" action="orders">

            <h1 name="price" value="<%=data.b%>">Total Price Is:<%=data.b%></h1></br>
            <b>Delivery Address:</b>
        </br> </br></br><textarea name="DeliveryAddress" value="" cols="35" rows="10"></textarea></br><br>
            &emsp;&emsp;<button class="button1">CONFIRM</button>

        </form>


    </body>

</html>
