<html>

<body>
    <form class="modified" method="POST" action="/retimg">
        
    
        Enter image : &emsp;<input  type="file" name="img" value="" required>
       
        <button   type="submit">Login</button></br></br>
       
        
        </form>
        

    </body>


</html>