<html>
<head>
    <link href="assets/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form class="modified" method="POST" action="/retimg">
        
    
        Enter image : &emsp;<input  type="file" name="img" value="" required>
       
        <button   type="submit">Login</button></br></br>
       
        
        </form>
        

    </body>


</html>