<html>

<head>

    <link href="assets/style.css" rel="stylesheet" type="text/css" />

</head>

<body class="bo1">

    <h1 class="kj">Register Your Details </h1>

    <form class="modified" method="POST" action="/sert">
        
    
<b>First Name : &emsp;<input  type="text" name="Fname" value="" placeholder="shiv" required></br></br>
<b>Last Name</b>  : &emsp;<input type="text" name="Lname" value="" placeholder="dhoni"></br></br>
<button class="b1" name="submit" value="login"  type="submit">Login</button></br></br>
<button class="b1" name="submit" value="signup"  type="submit">signup</button></br></br>

</form>


</body>

</html>

<!--<b>Email</b>    :&emsp;&emsp;&emsp;  <input name="email" value="" type="email" placeholder="xyz@gmail.com" required></br></br>
<b>About You</b>:&emsp;&emsp;<textarea name="textarea" value="" placeholder="Ex: My Name is Shivaraj Iam 23." rows="10" cols="40"></textarea></br></br>
<b>Birth Date:</b>:&emsp;&emsp;<input type="date" placeholder="bday" name="birth" value=""></br></br>
<b>Time:</b>:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<input type="time" placeholder="time" name="time" value=""></br></br>
<b>Password</b>:&emsp;&emsp;<input type="password" placeholder="password" name="pass" value="" required></br></br>
&emsp;&emsp;&emsp;&emsp;&ensp;&emsp;&emsp;-->