<html>

<head>

    <link href="assets/style.css" rel="stylesheet" type="text/css" />

</head>

<body class="signup-Details">

    <h1 >Register Your Details </h1>

    <form class="modified" method="POST" action="/profile" onsubmit="return checkpass()">

        
        
    
<b>First Name :&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<input type="text" name="Fname" value="a" placeholder="shiv" required></br></br>
<b>Last Name</b>:&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp; &emsp;<input type="text" name="Lname" value="a" placeholder="dhoni" required></br></br>
<b>Email</b>    :&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;  <input name="email" value="" type="email" placeholder="xyz@gmail.com" required></br></br>
<b>Birth Date:</b>:&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<input type="date" placeholder="birthday" name="birthdate" value="08-01-2020" required></br></br>
<b>Password</b>:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<input type="password" placeholder="password" id="firstpassword" name="pass" value="" required></br></br>
<b>Confirm Password</b>:&emsp;&emsp;&emsp;&emsp;&emsp;<input type="password" placeholder="password" id="confirmpassword" name="confirmpass" value="as" required></br></br>
<b>Country:</b>:&emsp;&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<input class="input-border" type="text" placeholder="Country" name="Country" value="India" required><select onclick="checkcountry()" name="countries" id="country-selection" class="country-border"  size="1">
    <option value="country">India</option>
    <option name="country">USA</option>
    <option name="country">Germany</option>
    <option name="country">Italy</option>
    <option name="country">spain</option>
    <option name="country">nepal</option>
</select>


<p></p>
<b>State:</b>:&nbsp;&emsp;&emsp;&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<input type="text" placeholder="State" name="state" value="d" required></br></br>
<b>Mobile Number:</b>:&emsp;&emsp;&nbsp;&emsp;&emsp;&emsp;&emsp;<input type="tel" placeholder="Mobilenumber" name="mobilenumber" value="856" required></br></br>
<button  class="signup-button" name="Firstuser" value="signedup"  type="submit">Submit</button></br></br>



</form>
<script>
    function checkcountry(){
        var d=document.getElementById("country-selection");
        var f=document.getElementsByName("country");
        var e=d.options[d.selectedIndex].text;
        f[0].value=e;

       
    }
</script>

</body>

</html>

