<html>
<head>
  <link href="assets/style.css" rel="stylesheet" type="text/css" />
</head>

<body class="bo1">
<h1>hello</h1>
  <!---  <p>you entered first name as:<%=qs.Fname %></p>
    <p>you entered last name as:<%=qs.Lname %></p>-->
    
</body>
</html>