<html>

<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="assets/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<h1> <img src="/assets/images/<%=data.wishlist%>"> </h1>
  
    
    

</body>
</html>

<div id="mens1"><h1 class="z">BEST DEALS</h1>
    <div  class="bigb">
        
        <div class="card">
            <img img_id="0" src="/assets/images/<%=test[1].imgpath%>" alt="image of jauger" />
            <div class="container">
                <div id="1">
                    <ion-icon class="star" onclick="fe(1,0)" name="star-outline"></ion-icon>
                    <ion-icon class="star" onclick="fe(2,0)" name="star-outline"></ion-icon>
                    <ion-icon class="star" onclick="fe(3,0)" name="star-outline"></ion-icon>
                    <ion-icon class="star" onclick="fe(4,0)" name="star-outline"></ion-icon>
                    <ion-icon class="star" onclick="fe(5,0)" name="star-outline"></ion-icon>

                    <h2 style="color:blue">Mens Jeans</h2>
                    <p style="color:blue;font-size: 25px;">price:100</p>
                </div>
            </div>

            <div icons_id="0" class="ivf">
                <ion-icon class="heart" onclick="fe1(0)" name="heart-outline"></ion-icon>&nbsp;&emsp;
                <ion-icon class="cart" onclick="fe2(0)" name="cart-outline"></ion-icon>
            </div>

        </div>

        <div class="card">
            <img img_id="0" src="/assets/images/one.jpg" alt="image of jauger" />
            <div class="container">
                <div id="0">
                    <ion-icon class="star" onclick="fe(1,0)" name="star-outline"></ion-icon>
                    <ion-icon class="star" onclick="fe(2,0)" name="star-outline"></ion-icon>
                    <ion-icon class="star" onclick="fe(3,0)" name="star-outline"></ion-icon>
                    <ion-icon class="star" onclick="fe(4,0)" name="star-outline"></ion-icon>
                    <ion-icon class="star" onclick="fe(5,0)" name="star-outline"></ion-icon>

                    <h2 style="color:red">Mens Jeans</h2>
                    <p style="color:red;font-size: 25px;">price:100</p>
                </div>
            </div>

            <div icons_id="0" class="ivf">
                <ion-icon class="heart" onclick="fe1(0)" name="heart-outline"></ion-icon>&nbsp;&emsp;
                <ion-icon class="cart" onclick="fe2(0)" name="cart-outline"></ion-icon>
            </div>

        </div>
        <div class="card">
            <img img_id="0" src="/assets/images/one.jpg" alt="image of jauger" />
            <div class="container">
                <div id="0">
                    <ion-icon class="star" onclick="fe(1,0)" name="star-outline"></ion-icon>
                    <ion-icon class="star" onclick="fe(2,0)" name="star-outline"></ion-icon>
                    <ion-icon class="star" onclick="fe(3,0)" name="star-outline"></ion-icon>
                    <ion-icon class="star" onclick="fe(4,0)" name="star-outline"></ion-icon>
                    <ion-icon class="star" onclick="fe(5,0)" name="star-outline"></ion-icon>

                    <h2 style="color:red">Mens Jeans</h2>
                    <p style="color:red;font-size: 25px;">price:100</p>
                </div>
            </div>

            <div icons_id="0" class="ivf">
                <ion-icon class="heart" onclick="fe1(0)" name="heart-outline"></ion-icon>&nbsp;&emsp;
                <ion-icon class="cart" onclick="fe2(0)" name="cart-outline"></ion-icon>
            </div>

        </div>
    </div></div>