.Menu {
  position: relative;
  color: red;
  text-align: center;
  top: 100px;
}
.signup-button {
  color: black;
  background-color: blueviolet;
  height:45px;
  width:100px;
  
}
label{
  margin:20px;
  font-size: 45px;
}
input {
  border-color: black;
}
.date-width{
  height:30px;
  width:260px;
  text-align: center;
  color:black;
  font-size: 20px;
}
.insertdata{
  text-align: center;
  color:black;
  font-size: 20px;
  height:30px;
}


.modified {
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: blue;
  height: 850px;
  width: 1200px;
  border:2px solid #111;
  padding: 5px;
  margin: 30%;
  bottom: 300px;
 
}
.Login-Details{
  position: relative;
  top: 40px;
  color: red;
  text-align: center;
}
.signup-Details{
  background-color: aqua;
}
body {
  /*   background:url("/assets/jauger.jpg");*/
  background-repeat: no-repeat;
  background-size: 80%;
  left: 30px;
}


img {

  height: 250px;
  width: 240px;
  
  margin: 0 0 0 5px;
  }
.button1 {
height:50px;
  display: block;
  margin: 1px;
  
  margin:20px 0 0 0;
  width:140px;
  text-decoration:none;
  background-color: #111;
  color:white;
  font-family:'Roboto',sans-serif;
  
  transition: all 0.2s;

}
.button1:hover {
 
  color:black;
  background-color:white;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



.button2 {
  position: absolute;
  top: 180px;
  height: 35px;
  width: 46px;
  background-color: aqua;
  margin: 3px;
}
.sidenav{
height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
 
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}

.profile {
  height: 100px;
  width: 100px;
  border: 2px solid salmon;
  position: relative;
  left:500px;
  border-radius: 50%;
  background: url("/assets/jauger.jpg");
}

.main-body {
  /*background-color: #2a293e;*/

  /*background: url("/assets/sa.png");*/
}

/*.searchItems{
  position: relative;
  height: 40px;
  width: 550px;
  left: 200px;
}*/
.searchItems{
  
  position: relative;
  height: 40px;
  width: 550px;
  left: 300px;
}
.Home-search-button {
  
position: relative;
top:4px;
background-color:yellowgreen;
cursor: pointer;
  height: 40px;
  width: 80px;
  left: 295px;
}

.FlexForCard {
  position: relative;
  display: flex;
  width: 1124px;
  height: 230px;
  top: 60px;
  left: 80px;

  flex-wrap: wrap;
}

.OfferHeadLine {
  position: relative;
  top: 90px;
  text-align: center;
  color: aqua;
}
#time1 {
  position: absolute;
  top: 15px;
  left: 80%;
}

#kids {
  display: none;
}
#mens {
  display: none;
}
.dd{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid green;
  height: 1300px;
  width:2000px;
  left:120px;
  
}
#women {
  display: none;
}
#utensils {
  display: none;
}

#books{
  display: none;
}

#mobilelaptop{
  display: none;
}
#electronics{
  display: none;
}

.ShowItems{
  position: absolute;
  top: 30px;
  left: 300px;
  
}
.ba {
  padding: 3px;
}
.Increase-Button,.Decrease-Button{
  height:30px;
  width: 30px;
  border:1px solid black;
  border-radius:50%;
}

.quantity-input{
  height:30px;
  width: 80px;
  border:1px solid black;
  text-align:center;
}
.input-border{
border:2px solid black;
border-right: 0px;

}
.country-border{
  border:2px solid black;
  border-left:0px;
}
b{
  font-size:35px;
}
.edit-update-button{
  position: relative;
  top: 6em;
  left: 12rem;
  height: 25px;
  width: 80px;
  border: 2px solid black;
  background-color: skyblue;
  padding: 6px;
  text-align: center;
}
#CategoryList{
position: relative;
top:20px;
width:40px;

}
a{
  text-decoration: none;
}

.star {
  position: relative;
  left: 0px;
  font-size: 25px;
  color: blue

}

.heart {
  font-size: 35px;
  color: red;
  float:right;
}

.cart {
  position: relative;
  font-size: 35px;
  color: blue;
  float:right;
  
}

.cart1 {
  position: relative;
  font-size:45px;
  left: 400px;
  cursor: pointer;

}

.card {
 
  height: 400px;
  width: 250px;
  position: relative;
  top:10px;
  left:40px;
  padding: 2px;
  margin: 25px;
  cursor: pointer;
  border-color:  black;
  display:inline-grid;
}

.container {
  margin: 5px;
  position: relative;
  top: 5px;
  
}



.ivf {
  position: relative;
  bottom: 65px;
  float: right;
  right: 15px;
 
}

 .card:hover {
  box-shadow: 0 8px 16px 0 rgba(122, 7, 230, 0.2);
  transform: scale(1.1);
}

.bigb {
  position: relative;
  background-color: pink;
  display: flex;
  padding: 15px;
  flex-wrap: wrap;
  overflow: hidden;
  
 
 
}

.asd {
  display: flex;
  align-items: center;
  height:110px;
  background-color: aqua;
  min-width: 200px;
  overflow: hidden;
  flex-wrap: wrap;


}

.frt {
  bottom: 55px;

  left: 1400px;
}
.z{
  
  text-align:center;
  display: block;
}
.p{
  background-color: lightseagreen;
}